..icon-login, .f, .inst, .Shape-1 copy 2, .v{
	background: url(sprites.png) no-repeat;
}

..icon-login{
	background-position: -18px -21px ;
	width: 18px;
	height: 16px;
}

.f{
	background-position: -68px -14px ;
	width: 12px;
	height: 22px;
}

.inst{
	background-position: -116px -15px ;
	width: 21px;
	height: 21px;
}

.Shape-1 copy 2{
	background-position: -162px -10px ;
	width: 28px;
	height: 28px;
}

.v{
	background-position: -213px -19px ;
	width: 25px;
	height: 16px;
}

