@charset "utf-8"

/* ----->Общее<----- */
body
	background: #000000 url("../image/background.jpg") no-repeat center top
	font-family: PT Sans Narrow, Arial, sans-serif
	font-size: 14px
	line-height: 24px
	text-transform: uppercase

/* Распорка для float */
.clearfix::after
	content: ""
	display: table
	clear: both

/* ----->Шапка сайта<----- */
.main-header
	background-color: #000000
/* Центнировщик в шапке */
.header-center
	margin: 0 auto
	padding: 0 10px
	width: 940px
/* Верхнее меню */
.top-menu
	float: left
	width: 780px
	font-size: 16px
.n-top-menu ul
	margin: 0
	padding: 0
	list-style-type: none
.n-top-menu ul li
	display: inline-block
	vertical-align: top
.n-top-menu ul li a
	display: block
	padding: 25px 20px
	color: #ffffff
	line-height: 20px
	text-decoration: none
.n-top-menu ul li a:hover
	background-color: #808080
/* Верхнее меню авторизации */
.top-account
	float: right
	max-width: 140px
.top-account-login
	display: block
	position: relative
	padding: 25px 20px
	color: #ffffff
	font-size: 16px
	line-height: 20px
	text-decoration: none
	text-align: center
.top-account-login::before
	content: ""
	position: absolute
	width: 10px
	height: 10px
	top: 30px
	left: 27px
	background: #ff0000
.top-account-login:hover
	background-color: #808080
/* ----->Главный контент<----- */
/* Центнировщик на главной */
.main-center
	margin: 0 auto
	padding: 0 10px
	width: 940px
/* Главный логотип */
.main-logo
	margin: 57px auto 30px
	height: 204px
	width: 368px
.main-logo a img
	height: 204px
	width: 368px
/* Преимущества */
.s-advantages-item
	float: left
	margin-bottom: 86px
	padding-right: 10px
	width: 300px
	color: #ffffff
	text-align: center
.s-advantage-item-title
	font-size: 30px
/* Первый информационный блок */
.first-info
	margin-bottom: 34px
	width: 940px
	background: url("../image/white_bg.jpg") no-repeat center
.first-info-news
	float: left
	width: 400px
.first-info-gallery
	float: right
	width: 400px
/* Второй информационный блок */
.second-info
	width: 940px
	background: url("../image/white_bg.jpg") no-repeat center
.second-info-contacts
	float: left
	width: 400px
.second-info-record
	float: right
	width: 400px


/* ----->Подвал сайта<----- */
.main-footer
	background-image: url(../image/footer_bg.jpg)
/* Центнировщик в подвале */
.footer-center
	margin: 64px auto 0
	padding: 0 10px
	width: 940px
/* Контактная информация */
.footer-address
	float: left
	margin-right: 10px
	width: 320px
/* Кнопки соц сетей */
.footer-social
	float: left
	margin-right: 10px
	width: 220px
/* Разработчики */
.footer-developers
	float: right
	width: 140px


	
